:host {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.87);
  display: block;
  height: 55px;
  padding: 1rem;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 48px;
}

.more {
  background: url("/assets/svg/more.svg");
  float: right;
  height: 24px;
  margin-top: 12px;
  width: 24px;
}
