<h1 class="text-center">Peliculas</h1>
<br />
<div type="container" class="col-auto container d-grid gap-2 font-weight-bold">
  <button
    id="linkCrearPeliculaLista"
    [routerLink]="'../crear'"
    type="button"
    class="btn btn-dark"
  >
    Crear Pelicula
  </button>
</div>
<br />
<div id="peliculas" class="container table-responsive">
  <table class="table align-middle table-dark table-striped">
    <caption>
      Lista de Peliculas
    </caption>
    <thead>
      <tr>
        <th class="col-md-1">Codigo Pelicula</th>
        <th class="col-md-3">Titulo Pelicula</th>
        <th class="col-md-2">Director Pelicula</th>
        <th class="col-md-1">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr id="linkBodyListaPeliculas" *ngFor="let item of listaPeliculas | async" class="table-active">
        <td>{{ item.id }}</td>
        <td>{{ item.titulo }}</td>
        <td>{{ item.director }}</td>
        <td>
          <a id = "linkCrearHorarioDesdePelicula"
          (click)="onSubmitCreateHorario(item)"
          type="button"
          class="btn btn-success form-control"
            >Crear Horario</a
          >
          <a
          id = "linkActualizarPelicula"
            (click)="onSubmitUpdate(item.id)"
            type="button"
            class="btn btn-primary form-control"
            >Actualizar</a>
          <a id = "linkEliminarPelicula"
          (click)="onSubmitDelete(item.id)"
          type="button"
          class="btn btn-danger form-control"
            >Eliminar</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!(listaPeliculas | async)?.length" class="container">
  <div id="vacio" class="alert alert-danger" role="alert">
    Hey, No hay peliculas disponibles...
  </div>
</div>
