<h1 class="text-center">Usuarios</h1>
<br />
<div type="container" class="col-auto container d-grid gap-2 font-weight-bold">
  <button
    id="linkCrearUsuarioLista"
    routerLink="/crear_usuario"
    type="button"
    class="btn btn-dark"
  >
    Crear Usuario
  </button>
</div>
<br />
<div id="usaurios" class="container table-responsive">
  <table class="table align-middle table-dark table-striped">
    <caption>
      Lista de Usuarios
    </caption>
    <thead>
      <tr>
        <th id = "Codigo" class="col-md-1">Codigo</th>
        <th id = "Nombre" class="col-md-4">Nombre</th>
        <th id = "FechadeRegistro" class="col-md-1">Fecha de Registro</th>
        <th id = "Acciones" class="col-md-1">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr id="linkBodyListaUsuarios" *ngFor="let item of listaUsuarios | async" class="table-active">
        <td>{{ item.id }}</td>
        <td>{{ item.nombre }}</td>
        <td>{{ item.fechaCreacion }}</td>
        <td>
          <a
          id = "linkActualizarUsuario"
            (click)="onSubmitUpdate(item.id)"
            type="button"
            class="btn btn-primary form-control"
            >Actualizar</a>
          <a id = "linkEliminarUsuario"
          (click)="onSubmitDelete(item.id)"
          type="button"
          class="btn btn-danger form-control"
            >Eliminar</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!(listaUsuarios | async)?.length" class="container">
  <div id="AlertaListaDeUsauriosVacia" class="alert alert-danger" role="alert">
    Hey, No hay usuarios disponibles...
  </div>
</div>
