// Keyframes animate
@keyframes fadeInbottom {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
// End Keyframes animate