// Typography
@mixin fontFace($name) {
	font-family: $name;
	src: url('../fonts/#{$name}.eot');
	src: url('../fonts/#{$name}.eot') format('embedded-opentype'),  url('../fonts/#{$name}.woff') format('woff'),  url('../fonts/#{$name}.ttf') format('truetype')
}
@font-face {
	@include fontFace($font-general);
}
// End Typography